.task {
  width: 270px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
 }

 .title {
  width: 200px;
 }

 .line-through {
  text-decoration: line-through;
}


button {
  height: 30px;
  margin-top: 10px;
  margin-right: 5px;
}


